<?xml version="1.0" encoding="UTF-8"?>
<configuration debug="true">

	<!-- Appenders -->
	<appender name="console" class="ch.qos.logback.core.ConsoleAppender">
		<encoder>
			<Pattern>%d %5p [%c] %m%n</Pattern>
		</encoder>
	</appender>

	<appender name="console-infolog" class="ch.qos.logback.core.ConsoleAppender">
		<encoder>
			<Pattern>%d %5p %m%n</Pattern>
		</encoder>
	</appender>

	<!-- Logger -->
	<logger name="com.jewelry" level="DEBUG" appender-ref="console" />
	<!-- <logger name="jdbc.connection" level="DEBUG" appender-ref="console-infolog" / -->
	<logger name="jdbc.sqlonly" level="INFO" appender-ref="console-infolog" />
	<logger name="jdbc.sqltiming" level="INFO" appender-ref="console-infolog" />
	<logger name="jdbc.resultsettable" level="INFO" appender-ref="console-infolog" />
 
	<!-- Root Logger -->
	<root level="off">
		<appender-ref ref="console" />
	</root>
</configuration>

<!-- <?xml version="1.0" encoding="UTF-8"?>
<configuration>
  <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">  
    <encoder>
      <pattern>%d{yyyyMMdd HH:mm:ss.SSS} [%thread] %-3level %logger{5} - %msg %n</pattern>
    </encoder>
  </appender>
  
  <logger name="jdbc" level="OFF"/>
  
  <logger name="jdbc.sqlonly" level="INFO" additivity="false">
    <appender-ref ref="STDOUT" />
  </logger>
  
  <logger name="jdbc.sqltiming" level="DEBUG" additivity="false">
    <appender-ref ref="STDOUT" />
  </logger> 
  
  <logger name="jdbc.resultsettable" level="INFO" additivity="false">
    <appender-ref ref="STDOUT" />
  </logger>
  
  <root level="DEBUG">
    <appender-ref ref="STDOUT" />
  </root>
</configuration> -->